@import "tailwindcss";
@import "flowbite/src/themes/default";
@source "../node_modules/flowbite";


/* global overrides for your site */
@layer base {
  body {
    @apply bg-slate-900 text-slate-300;
  }
}